
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="assets/img/favicon.png">
<title>
    Users
  </title>



<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" /> -->
<link href="use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<link href="assets/css/nucleo-icons.css" rel="stylesheet" />

<link href="assets/css/black-dashboard.min3f71.css?v=1.1.1" rel="stylesheet" />

<link href="assets/demo/demo.css" rel="stylesheet" />
<script src="js/jquery.min.js"></script>


  <script src="assets/js/nadd.js"></script>
<style type="text/css">
  .fixed-plugin{
    display: none;
  }
</style>
<style type="text/css">
  @media (min-width: 576px) {.modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}}
</style>


</head>
<body>
<div class="wrapper">
<div class="navbar-minimize-fixed">
<button class="minimize-sidebar btn btn-link btn-just-icon">
<i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
<i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
</button>
</div>
<div class="sidebar">

<div class="sidebar-wrapper">
<div class="logo">
<a href="javascript:void(0)" class="simple-text logo-mini">
IIC
</a>
<a href="javascript:void(0)" class="simple-text logo-normal">
INDUSTRY IN CLOUD
</a>
</div>
<ul class="nav">
<li>
<a href="/dashboard">
<i class="tim-icons icon-chart-pie-36"></i>
<p>Dashboard</p>
</a>
</li>
<li>
<a href="/devices">
<i class="tim-icons icon-atom"></i>
<p>Devices</p>
</a>
</li>
<li>
<a href="/notifications">
<i class="tim-icons icon-bell-55"></i>
<p>Notifications</p>
</a>
</li>
<li>
<a href="/statics">
<i class="tim-icons icon-coins"></i>
<p>Statistics</p>
</a>
</li>
{% if role_type == 'customer_admin' %}
<li class="active">
<a href="/userdetails">
<i class="tim-icons icon-badge"></i>
<p>Users</p>
</a>
</li>
{% endif %}
<li>
<a href="/profile_view">
<i class="tim-icons icon-single-02"></i>
<p>Profile</p>
</a>
</li>
<li>
<a href="{{ url_for('logout') }}">
<i class="tim-icons icon-button-power"></i>
<p>Logout</p>
</a>
</li>

</ul>
</div>
</div>
<div class="main-panel">

<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
<div class="container-fluid">
<div class="navbar-wrapper">
<div class="navbar-minimize d-inline">
<button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right">
<i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
<i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
</button>
</div>
<div class="navbar-toggle d-inline">
<button type="button" class="navbar-toggler">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</button>
</div>
<a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-bar navbar-kebab"></span>
<span class="navbar-toggler-bar navbar-kebab"></span>
<span class="navbar-toggler-bar navbar-kebab"></span>
</button>
<div class="collapse navbar-collapse" id="navigation">
<ul class="navbar-nav ml-auto">
 

<li class="dropdown nav-item">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

<div class="photo">
<img src="assets/img/mike.jpg" alt="Profile Photo">
</div>
{{full_name}}
<b class="caret d-none d-lg-block d-xl-block"></b>
<!-- <p class="d-lg-none">
Log out
</p> -->
</a>
<ul class="dropdown-menu dropdown-navbar">

<li class="nav-link">
<a href = "{{ url_for('logout') }}" class="nav-item dropdown-item">Log out</a>
</li>
</ul>
</li>
<li class="separator d-lg-none"></li>
</ul>
</div>
</div>
</nav>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<i class="tim-icons icon-simple-remove"></i>
</button>
</div>
</div>
</div>
</div>

<div class="content">

<div class="row">

<div class="col-lg-12">
<div class="card">
<div class="card-header">
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_adduser">Add User</button>
 -->
   <button type="button" class="btn btn-primary" onclick="modaladduser();">Add User</button>

 </div>
<div class="card-body">
<div class="table-responsive">
<table class="table">
<thead class="text-primary">
<tr>
<th class="text-center">
#ID
</th>
<th class="text-left">
NAME
</th>
<th class="text-left">
EMAIL
</th>
<!-- <th class="text-left">
PHONE
</th> -->
<th class="text-left">
LAST ACTIVITY
</th>
<!-- <th class="text-left">
CITY
</th> -->
<th class="text-left">
CUSTOMER NAME
</th>

<th class="text-left">
&nbsp;
</th>
 

</tr>
</thead>
<tbody>
 {% for s in udtls %}
<tr>
<td class="text-left">{{s['user_id']}}</td>
<td class="text-left">{{s['full_name']}}</td>
<td class="text-left">{{s['email_id']}}</td>
<!-- <td class="text-left">{{s['phone_number']}}</td> -->
<td class="text-left">{{s['session_time']}}</td>


<td class="text-left">{{s['cname']}}</td>

<td class="text-left"> 




<a data-toggle="modal" href="javascript:void(0)" 
               onclick="Edituser('{{s['user_id']}}','{{s['flags']}}');">
                <img src="assets/pen.jpg" alt="Profile Photo">
              </a></td>


</tr>
{% endfor %}





</tbody>
</table>
</div>
</div>
</div>
</div>

</div>
</div>
<footer class="footer">
<div class="container-fluid">
 
<div class="copyright">
©
<script>
              document.write(new Date().getFullYear())
            </script> All rights reserved @ INDUSTRY IN CLOUD
</div>
</div>
</footer>
</div>
</div>

{% if role_type == 'customer_admin' %}
<div class="fixed-plugin">
<div class="dropdown show-dropdown">
<a href="#" data-toggle="dropdown">
<i class="fa fa-cog fa-2x"> </i>
</a>
<ul class="dropdown-menu">
<li class="header-title"> Sidebar Background</li>
<li class="adjustments-line">
<a href="javascript:void(0)" class="switch-trigger background-color">
<div class="badge-colors text-center">
<span class="badge filter badge-primary active" data-color="primary"></span>
<span class="badge filter badge-info" data-color="blue"></span>
<span class="badge filter badge-success" data-color="green"></span>
<span class="badge filter badge-warning" data-color="orange"></span>
<span class="badge filter badge-danger" data-color="red"></span>
</div>
<div class="clearfix"></div>
</a>
</li>
 
<li class="adjustments-line">
<div class="switch-change-color mt-3" style="text-align: center;">

<input type="radio" name="bedStatus" id="light" checked="checked" value="light"><span style="color:white;">Light</span>
<input type="radio" name="bedStatus" id="dark" value="dark"><span style="color:white;">Dark</span>

</div>
</li>
<li class="button-container mt-4">
 
</li>
 
</ul>
</div>
</div>
 {% endif %}







<!-- Modal -->
  <div class="modal" id="modal_adduser" role="dialog" style="display: none;">
    <div class="modal-dialog">
    
    <form id="form_adduser">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="modal_adduser_close();">&times;</button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class="col-md-3 pr-md-1">
          <div class="form-group">
          <label>Full name</label>
          <input style="color:black;background-color: #ffffff;" type="text" class="form-control" id="fullname">
          </div>
          </div>
          <div class="col-md-3 px-md-1">
          <div class="form-group">
          <label>Email</label>
          <input style="color:black;background-color: #ffffff;" type="email" class="form-control" id="email_id">
          </div>
          </div>
          <div class="col-md-3 pl-md-1">
          <div class="form-group">
          <label>Password</label>
          <input style="color:black;background-color: #ffffff;" type="password" class="form-control" id="password">
          </div>
          </div>
          <div class="col-md-3 pl-md-1">
          <div class="form-group">
          <label>Customers</label>
           <select id="browsers">
                              {% for c in c_d %}
                              <option value ={{c['cid']}}>{{c['cn']}}</option>
                              {% endfor %}
                            </select>


                         


          </div>
          </div>
         <!--  <div class="col-md-3 pl-md-1">
          <div class="form-group">
          <label>Phone number</label>
          <input style="color:black;background-color: #ffffff;" type="tel" class="form-control" id="phone_number">
          </div>
          </div> -->
          </div>
          <div class="row">
<div class="col-md-12 pl-md-1">
          <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="opt" id="only_devices" value="only_devices" checked>
                <label for="only_devices">Only Devices </label>&nbsp;&nbsp;&nbsp;&nbsp;
                
                <input type="radio" name="opt" id="dashboard" value="dashboard">
                <label for="dahboard">Dashboard </label>&nbsp;&nbsp;&nbsp;&nbsp;

                <input type="radio" name="opt" id="all" value="all">
                <label for="all">All </label>
              </div></div>
          <!-- <div class="col-md-3 pr-md-1">
          <div class="form-group">
          <label>Country</label>
          <select name="country" class="countries form-control" id="countryS"  style="color:black;">
            <option value="">Select Country</option>
             </select>

           </div>
          </div>
          <div class="col-md-3 px-md-1">
          <div class="form-group">
          <label>State</label>
          <select name="state" class="states form-control" id="stateS"  style="color:black;">
            <option value="">Select State</option>
             </select>

           </div>
          </div>
          <div class="col-md-3 pl-md-1">
          <div class="form-group">
          <label>City</label>
          <select name="city" class="cities form-control" id="cityS"  style="color:black;">
            <option value="">Select City</option>
             </select>
           </div>
          </div> -->
          <!-- <div class="col-md-3 pl-md-1">
          <div class="form-group">
          <label>Customers</label>
           <select id="browsers">
                              {% for c in c_d %}
                              <option value ={{c['cid']}}>{{c['cn']}}</option>
                              {% endfor %}
                            </select>
          </div>
          </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="adduser_submit">Save</button>
        </div>
      </div>

    </form>
      
    </div>
  </div>

  <!-- End Modal -->









  <!-- Modal -->
  <div class="modal" id="modal_edituser" role="dialog" style="display: none;">
    <div class="modal-dialog">
    
    <form id="form_edituser">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="modal_edituser_close();">&times;</button>
          <h4 class="modal-title">Edit Flags</h4>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <input type="hidden" class="form-control" id="user_id">

<div class="col-md-12 pl-md-1">
          <div class="form-group" id="opt_">
              </div></div>
       
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="edituser_submit">Save</button>
        </div>
      </div>

    </form>
      
    </div>
  </div>

  <!-- End Modal -->




<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="assets/js/plugins/moment.min.js"></script>

<script src="assets/js/plugins/bootstrap-switch.js"></script>

<script src="assets/js/plugins/sweetalert2.min.js"></script>

<script src="assets/js/plugins/jquery.tablesorter.js"></script>

<script src="assets/js/plugins/jquery.validate.min.js"></script>

<script src="assets/js/plugins/jquery.bootstrap-wizard.js"></script>

<script src="assets/js/plugins/bootstrap-selectpicker.js"></script>

<script src="assets/js/plugins/bootstrap-datetimepicker.js"></script>

<script src="assets/js/plugins/jquery.dataTables.min.js"></script>

<script src="assets/js/plugins/bootstrap-tagsinput.js"></script>

<script src="assets/js/plugins/jasny-bootstrap.min.js"></script>

<script src="assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="assets/js/plugins/fullcalendar/daygrid.min.js"></script>
<script src="assets/js/plugins/fullcalendar/timegrid.min.js"></script>
<script src="assets/js/plugins/fullcalendar/interaction.min.js"></script>

<script src="assets/js/plugins/jquery-jvectormap.js"></script>

<script src="assets/js/plugins/nouislider.min.js"></script>


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGat1sgDZ-3y6fFe6HD7QUziVC6jlJNog"></script> -->

<script src="assets/js/plugins/chartjs.min.js"></script>

<script src="assets/js/plugins/bootstrap-notify.js"></script>

<script src="assets/js/black-dashboard.min3f71.js?v=1.1.1"></script>

<script src="assets/demo/demo.js"></script>

<script src="assets/demo/jquery.sharrre.js"></script>
 
 
<script>
 var new_color2 = '{{colorname}}';
$clr = $('.btn-primary');
$main_panel = $('.main-panel');
$full_page = $('.full-page');
$sidebar_responsive = $('body > .navbar-collapse');
$sidebar = $('.sidebar');
$sidebar.attr('data', new_color2);
if (new_color2=='primary') $clr.attr('class', 'btn btn-primary');
if (new_color2=='blue') $clr.attr('class', 'btn btn-info');
if (new_color2=='green') $clr.attr('class', 'btn btn-success');
if (new_color2=='orange') $clr.attr('class', 'btn btn-warning');
if (new_color2=='red') $clr.attr('class', 'btn btn-danger');
$main_panel.attr('data', new_color2);
$full_page.attr('filter-color', new_color2);
$sidebar_responsive.attr('data', new_color2);



var bg_color = 'light';
if (bg_color == 'light'){
  $('body').removeClass('change-background');
  $('body').addClass('white-content');
  $("input[name=bedStatus][value='light']").prop("checked",true);
  $("input[name=bedStatus][value='dark']").prop("checked",false);
}
else{
  $("input[name=bedStatus][value='light']").prop("checked",false);
  $("input[name=bedStatus][value='dark']").prop("checked",true);
}

$(document).ready(function() {
$('input:radio[name=bedStatus]').change(function(){


if (this.value == 'light') {
bgchange("light");
  }
  else if (this.value == 'dark') {
      bgchange("dark");
  }
});

});


    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $clr = $('.btn-primary');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {

            colorchange(new_color);
            $sidebar.attr('data', new_color);
            if (new_color=='primary') $clr.attr('class', 'btn btn-primary');
            if (new_color=='blue') $clr.attr('class', 'btn btn-info');
            if (new_color=='green') $clr.attr('class', 'btn btn-success');
            if (new_color=='orange') $clr.attr('class', 'btn btn-warning');
            if (new_color=='red') $clr.attr('class', 'btn btn-danger');
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });



    function colorchange(new_color){
  var user_id_pw = '{{user_c_id}}';

  $.ajax({
                type : "post",
                url: '/set_settings',
                dataType : "text",
                data:'setting=colorchange&user_id='+user_id_pw+'&colorname='+new_color,
                success : function(data) {
                  // alert(data);
                  Swal.fire({
                  title: 'Success',
                  icon: 'success',
                  showConfirmButton:false,
                    timer:1500
                }).then(function(){ 
                       location.reload();
                       }
                    );                     
                },
                error : function(data) {
                  Swal.fire({
                    title: 'Error',
                    text:data.responseText,
                    icon: 'error'
                  })                     
                }
        });
}


function bgchange(bg_color){
  var user_id_pw = '{{user_c_id}}'

  $.ajax({
                type : "post",
                url: '/set_settings',
                dataType : "text",
                data:'setting=colorchange&user_id='+user_id_pw+'&bg_color='+'light',
                success : function(data) {
                  // alert(data);
                  Swal.fire({
                  title: 'Success',
                  icon: 'success',
                  showConfirmButton:false,
                    timer:1500
                }).then(function(){ 
                       location.reload();
                       }
                    );                     
                },
                error : function(data) {
                  Swal.fire({
                    title: 'Error',
                    text:data.responseText,
                    icon: 'error'
                  })                     
                }
        });
}
  </script>
<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

      demo.initVectorMap();

    });
  </script>
    <script type="text/javascript">
  $("#adduser_submit").click(function(){
      $('#modal_adduser').hide();
  var a = ((document.getElementById('form_adduser').elements['fullname'].value));
  var b = ((document.getElementById('form_adduser').elements['email_id'].value));
  // var c = ((document.getElementById('form_adduser').elements['phone_number'].value));
  // var d = ((document.getElementById('form_adduser').elements['cityS'].value));
  // var e = ((document.getElementById('form_adduser').elements['stateS'].value));
  // var f = ((document.getElementById('form_adduser').elements['countryS'].value));
  var g = ((document.getElementById('form_adduser').elements['browsers'].value));
  var h = ((document.getElementById('form_adduser').elements['password'].value));

  var flag = document.querySelector('input[name="opt"]:checked').value;






  // if (a != '' && b != '' && c != '' && d != '' && e != '' && f != '' && g != '' && h != ''){
    if (a != '' && b != '' && g != '' && h != ''){
          $.ajax({
                type : "post",
                url: '/set_settings',
                dataType : "text",
                data:'setting=add_user&fullname='+a+'&email_id='+b+'&phone_number='+'000'+'&city='+'city'+'&state='+'city'+'&country='+'country'+'&cid='+g+'&password='+h+'&flag='+flag,
                success : function(data) {
                  // alert(data);
                  Swal.fire({
                  title: 'Success',
                  icon: 'success'
                }).then(function(){ 
                   location.reload();
                   }
                );                    
                },
                error : function(data) {
                  // alert("Error");
                  Swal.fire({
                    title: data.responseText,
                    icon: 'error'
                  })                     
                }
        });

  }
  else {
          Swal.fire({
                    title: 'Something went wrong',
                    icon: 'error'
                  })

        }

})












  $("#edituser_submit").click(function(){
      $('#modal_edituser').hide();
  var user_id_ = ((document.getElementById('form_edituser').elements['user_id'].value));
  var flag_id = document.querySelector('input[name="opt_edit"]:checked').value;






    if (user_id_ != '' && flag_id != '' ){
          $.ajax({
                type : "post",
                url: '/set_settings',
                dataType : "text",
                data:'setting=edit_user&user_id='+user_id_+'&flag='+flag_id,
                success : function(data) {
                  // alert(data);
                  Swal.fire({
                  title: 'Success',
                  icon: 'success'
                }).then(function(){ 
                   location.reload();
                   }
                );                    
                },
                error : function(data) {
                  // alert("Error");
                  Swal.fire({
                    title: data.responseText,
                    icon: 'error'
                  })                     
                }
        });

  }
  else {
          Swal.fire({
                    title: 'Something went wrong',
                    icon: 'error'
                  })

        }

})
</script>

<script>
  function modaladduser(){

    $('#modal_adduser').show();

  }


  function modal_adduser_close(){
    $('#modal_adduser').hide();
  }


  function modal_edituser_close(){
    $('#modal_edituser').hide();
  }






function Edituser(user_id,flag){
  $('#modal_edituser').show();
  $('#user_id').val(user_id);

  var ht_devices = '&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="only_devices" checked><label for="only_devices">&nbsp;&nbsp;Only Devices </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit"  value="dashboard"><label for="dahboard">&nbsp;&nbsp;Dashboard </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="all"><label for="all">&nbsp;&nbsp;All </label>'
  var ht_dashboard = '&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="only_devices"><label for="only_devices">&nbsp;&nbsp;Only Devices </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit"  value="dashboard" checked><label for="dahboard">&nbsp;&nbsp;Dashboard </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="all"><label for="all">&nbsp;&nbsp;All </label>'
  var ht_all = '&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="only_devices"><label for="only_devices">&nbsp;&nbsp;Only Devices </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit"  value="dashboard"><label for="dahboard">&nbsp;&nbsp;Dashboard </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="opt_edit" value="all" checked><label for="all">&nbsp;&nbsp;All </label>'
  if (flag == 'only_devices'){
    $('#opt_').html(ht_devices);

  }else if (flag == 'dashboard'){
    $('#opt_').html(ht_dashboard);

  }else if (flag == 'all'){
    $('#opt_').html(ht_all);

  }
  

}




</script>


</body>

 
</html>
